html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: black;
}

.header__logo-title {
  font-family: Forum;
  line-height: 3.1rem;
  letter-spacing: .6px;
  word-wrap: break-word;
}

.header__wrapper {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.navigation__list {
  display: flex;
  gap: 1.8rem;
}

.navigation__list-item {
  font-size: 1.25rem;
  line-height: 3.1rem;
  word-wrap: break-word;
}

.navigation__list-item-link {
  text-decoration: none;
  color: white;
  transition: .6s;
}

.navigation__list-item-link:hover {
  color: #BB945F;
}
